
<form #f="ngForm" align="center">
  <div class="form-group">
    <label>Code a bar:</label>
    <input type="number" name="id" class="form-control" [(ngModel)]="product.id" #i="ngModel" required>
  </div>
  <div class="alert alert-danger" *ngIf="i.invalid">
    Code a bar n'est pas trouve
  </div>
  <div class="form-group">
    <label>Nom de Produit:</label>
    <input type="text" name="title" class="form-control" [(ngModel)]="product.title" #t="ngModel"
           required
           minlength="3">
  </div>
  <div class="alert alert-danger" *ngIf="t.invalid">
    <div *ngIf="t.errors.required">Nom n'est pas trouve</div>
    <div *ngIf="t.errors.minlength">Nom trop court inferieur a 3</div>
  </div>
  <div class="form-group">
    <label>Prix:</label>
    <input type="number" required name="price" class="form-control" [(ngModel)]="product.price"
           #p="ngModel">
  </div>
  <div class="alert alert-danger" *ngIf="p.invalid">
    Prix n'est pas trouve
  </div>
  <div class="alert alert-danger" *ngIf="p.value<0">
    prix >0
  </div>
  <div class="form-group">
    <label>Quantite:</label>
    <input type="number" required name="quantity" class="form-control" [(ngModel)]="product.quantity"
         >
  </div>

  <button class="btn btn-success" [disabled]="f.invalid" (click)="saveNotification()" >
    Ajouter
  </button>
</form>

<br>
