<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/first">Hello</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/products">Nos Produits<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/formProduct">Ajouter Produit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/todo">Liste a Faire</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>
  <router-outlet>

  </router-outlet>
  <br>
  <!-- Footer -->

<footer>
  <!-- Footer Elements -->
  <div class="container" style="background: dodgerblue">

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Merci pour votre visite </h5>
      </li>
      <li class="list-inline-item">
        <a href="#!" class="btn btn-outline-white btn-rounded">Acceuil</a>
      </li>
    </ul>
    <!-- Call to action -->
    <div class="footer-copyright text-center py-3" style="background: dodgerblue">© 2020 Copyright:
      <a href=""> OussemaSellami</a>
    </div>
  </div>


</footer>







